<header>
    <div class="container">
        <div id="navtabs">
            <a href="/"><img src="https://netbeans.orghttps://netbeans.org//images_www/v7/design/logo_netbeans_red.png" id="nblogo" width="130" height="32"/></a>
            <ul>
	      <li class="hover first"><a href="/features/index.html" title="NetBeans&nbsp;IDE"  >NetBeans IDE</a></li>
                <li class="hover "><a href="/features/platform/index.html" title="NetBeans&nbsp;Platform"  >NetBeans Platform</a></li>
                <li class="hover "><a href="http://plugins.netbeans.org/PluginPortal/" title="Plugins"  >Plugins</a></li>
                <li class="hover "><a href="/kb/index.html" title="Docs&nbsp;&amp;&nbsp;Support"  >Docs &amp; Support</a></li>
                <li class="hover "><a href="/kb/javase.html" title="Community"  >Tuto</a></li>
            </ul>
	    <div id="search-div">
              <form action="/search_result.html" id="cse-search-box">
                <input type="hidden" name="cx" value="006102455337629464213:mt38ytkbuak" >
                <input type="hidden" name="cof" value="FORID:11" >
                <input type="text" id="search-input" value="Search" name="q"/>
                <input type="image" src="https://netbeans.orghttps://netbeans.org//images_www/v7/design/icon_search.png" id="magnifier" alt="search"/>
              </form>
            </div>
        </div>
    </div>
</header>
