<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home Page 2</title> 
        <!--<link rel="stylesheet" href="{{ site.url }}/assets/main.css">-->
        <link rel="stylesheet" href="https://netbeans.org/netbeans3.css"> 

    </head>
    <body class="blue-bg">
        <div id="wrapper-fixed">
            <header>
                <div class="container">
                    <div id="navtabs">
                        <a href="/"><img src="https://netbeans.org/images_www/v7/design/logo_netbeans_red.png" id="nblogo" width="130" height="32"/></a>
                        <ul><li class="hover first"><a href="/features/index.html" title="NetBeans&nbsp;IDE"  >NetBeans IDE</a></li>
                            <li class="hover "><a href="/features/platform/index.html" title="NetBeans&nbsp;Platform"  >NetBeans Platform</a></li>
                            <li class="hover "><a href="/enterprise/index.html" title="Enterprise"  >Enterprise</a></li>
                            <li class="hover "><a href="http://plugins.netbeans.org/PluginPortal/" title="Plugins"  >Plugins</a></li>
                            <li class="hover "><a href="/kb/index.html" title="Docs&nbsp;&amp;&nbsp;Support"  >Docs &amp; Support</a></li>
                            <li class="hover "><a href="/community/index.html" title="Community"  >Community</a></li>
                        </ul> <div id="search-div">
                            <form action="/search_result.html" id="cse-search-box">
                                <input type="hidden" name="cx" value="006102455337629464213:mt38ytkbuak" >
                                <input type="hidden" name="cof" value="FORID:11" >
                                <input type="text" id="search-input" value="Search" name="q"/>
                                <input type="image" src="https://netbeans.org/images_www/v7/design/icon_search.png" id="magnifier" alt="search"/>
                            </form>
                        </div>
                    </div>
                </div>

            </header></div>
        <div id="navig-breadcrumbs"><a href="/index.html">HOME</a>  / <a href="/kb/index.html">Docs & Support</a> </div>
        <!-- start content area -->
        <div id="middle">
            <table class="colapse full-width f-page-table-2col"> <!-- main content table -->
                <tr>
                    <td class="valign-top"><!-- main content cell, testwww page is here --><div id="print"><a href="/kb/docs/java/quickstart.html?print=yes"><img src="/images_www/v5/print.gif" alt="" width="105" height="15" border="0"></a></div><div class="f-page-auto-cell" id="doc" >

                            {{ content }}
                    </td>
                </tr><!-- end main content -->
            </table><!-- end main content table -->
        </div><!-- end fixed-contentbox-ie -->
        <footer>
            <div class="container">
                <p class="center-text"> <a href="http://cloudcannon.com">Created by CloudCannon</a></p>
            </div>
        </footer>
    </body>
</html>